@import "../../../StyleSheet/colors";
#testimonials {
  margin-top: 7%;
  .section-header {
    background-image: url(../../../images/quote.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 150px;
    h1 {
      color: $projectPrimary;
      font-weight: 700;
    }
  }
}

.testimonials .card {
  border-color: transparent;
}

.testimonials .card .card-footer {
  background: transparent;
  border: 0;
}
